:root {
	--shadow-color: 0deg 0% 0%;
	--shadow-elevation-medium: 0px 0.4px 0.5px hsl(var(--shadow-color) / 0.09),
		0px 1.1px 1.2px -0.6px hsl(var(--shadow-color) / 0.09),
		0.1px 2.2px 2.5px -1.2px hsl(var(--shadow-color) / 0.09),
		0.1px 4.4px 5px -1.9px hsl(var(--shadow-color) / 0.09),
		0.2px 8.5px 9.6px -2.5px hsl(var(--shadow-color) / 0.09);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: "PTSans", "PTSans-fallback-linux", "PTSans-fallback", sans-serif;
}
.bold {
	font-weight: 700;
}
.italic {
	font-style: italic;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

#root,
#__next {
	isolation: isolate;
}

h1{
	font-size:2.986rem ;
}
h2{
	font-size:2.488rem;
}
h3{
	font-size:2.074rem ;
}
h4{
	font-size:1.728rem ;
}
h5{
	font-size:1.44rem ;
}
h6{
	font-size:1.2rem;
}