@font-face {
	font-family: "Inter";
	src: local("Inter"), local("Inter Regular"), url("../fonts/Inter-R.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: optional;
}

@font-face {
	font-family: "Inter";
	src: local("Inter Bold"), url("../fonts/Inter-B.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: optional;
}

@font-face {
	font-family: "Inter";
	src: local("Inter Italic"), url("../fonts/Inter-I.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: optional;
}
@font-face {
	font-family: "Inter";
	src: local("Inter Bold Italic"), url("../fonts/Inter-BI.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
	font-display: optional;
}
@font-face {
	font-family: "Inter-fallback-linux";
	src: local("Liberation Sans");
}
@font-face {
	font-family: "Inter-fallback";
	src: local("Arial");
}
@font-face {
	font-family: "Norse";
	src: url("../fonts/Norse-R.woff2");
	font-weight: normal;
	font-style: normal;
	font-display: optional;
}
@font-face {
	font-family: "Norse";
	src: url("../fonts/Norse-B.woff2");
	font-weight: bold;
	font-style: normal;
	font-display: optionalgit a;
}
img {
	block-size: auto;
	height: auto;
	max-width: 100%;
	width: 100%;
	min-width: 0;
	object-fit: cover;
}

* {
	/* outline: 1px solid black;  */
}

body {
	display: flex;
	height: 100vh;
}

aside {
	display: flex;
	position: relative;
	flex: 0.8;
}
.bu {
	max-width: 18%;

	min-width: 0;
	object-fit: contain;
}
.image-text {
	position: absolute;
	display: flex;
	color: white;
	justify-content: center;
	font-size: 5rem;
	background-color: rgba(91, 81, 86, 0.6);
	line-height: 2;
	font-weight: bold;
	left: 0;
	right: 0;
	font-family: "Norse", "Inter", "Inter-fallback-linux", "Inter-fallback", sans-serif;
	top: 200px;
}
.credit {
	position: absolute;
	bottom: 0;
	color: white;
	right: 0;
	left: 0;
	text-align: center;
	font-size: 0.8rem;
	font-style: italic;
}
.credit-link {
	text-decoration: underline;
	color: white;
	font-style: italic;
}
main {
	display: flex;
	flex: 2;
	flex-direction: column;
	justify-content: center;
	background-color: #f9fafb;
}
.header,
.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.header {
	flex-basis: 35%;
	justify-content: flex-end;
}
.header-1 {
	margin-bottom: 2em;
	max-width: 50%;
	text-wrap: auto;
}
.section {
	flex-basis: 65%;
}
.form-section-1,
.form-section-2,
.header {
	padding-left: 3rem;
}
.form-section-1,
.form-section-2 {
	display: flex;
	flex-direction: column;
}
.form-section-1 {
	justify-content: center;
	background-color: white;
	box-shadow: var(--shadow-elevation-medium);
	flex: 6;
	align-items: flex-start;
}
.form-header {
	margin-top: 1em;
}
.form-input-container {
	display: flex;
	margin-bottom: 3em;
	margin-top: 1em;
	gap: 3em;
	width: max(60%, 30rem);
}
.form-section-2 {
	flex: 7;
	align-items: flex-start;
}
form {
	display: flex;
	flex-direction: column;
	flex: 1;
}

button {
	margin-bottom: 1em;
	margin-top: 2em;
}
.form-row-1,
.form-row-2 {
	display: flex;
	flex-direction: column;
	flex: 1;
}
label {
	font-size: 0.7rem;
	font-weight: bold;
	font-family: norse;
	color: rgb(43, 42, 42);
}
input {
	font-size: 0.875rem;
	border: 1px solid rgb(180, 179, 179);
	border-radius: 4px;
}
label:nth-child(4),
label:nth-child(7) {
	margin-top: 2.5em;
}
input + span {
	position: relative;
}

/* .form-field:placeholder-shown + span::before {
	font-size: 0.6rem;
	position: absolute;
	content: "Bu alan zorunludur.";
	font-weight: bold;
	color: #000000;
} */
input[required].form-field:not(:focus):placeholder-shown + span::before {
	font-size: 0.6rem;
	position: absolute;
	content: "Bu alan zorunludur. *";

	font-weight: bold;
	color: #000000;
}
input[required].form-field {
	text-indent: 4px;
}

input[required].form-field:not(:focus):placeholder-shown {
	border: 2px solid rgb(180, 179, 179);
}
input[required].form-field:not(:focus):placeholder-shown + span::after {
	content: "";
}
.first-name:not(:focus):user-invalid + span::before {
	font-size: 0.7rem;
	position: absolute;
	content: "Adınızda yalnızca harf olmalı, en az 3 karakter gereklidir.";
	font-weight: bold;
	color: #ee4447;
}
.last-name:not(:focus):user-invalid + span::before {
	font-size: 0.7rem;
	position: absolute;
	content: "Soyadınızda yalnızca harf olmalı, en az 3 karakter gereklidir.";
	font-weight: bold;
	color: #ee4447;
}
.email:not(:focus):user-invalid + span::before {
	font-size: 0.7rem;
	position: absolute;
	content: "E-posta adresiniz '@' ve alan adı içermelidir.";
	font-weight: bold;
	color: #ee4447;
}
.first-name:focus + span::before {
	font-size: 0.7rem;
	position: absolute;
	content: "Örnek: Mehmet";
	font-weight: bold;
	color: #000000;
}
.last-name:focus + span::before {
	font-size: 0.7rem;
	position: absolute;
	content: "Örnek: Yılmaz";
	font-weight: bold;
	color: #000000;
}
.email:focus + span::before {
	font-size: 0.7rem;
	position: absolute;
	content: "Örnek: ornek@example.com";
	font-weight: bold;
	color: #000000;
}
.phone:not(:focus):user-invalid + span::before {
	font-size: 0.7rem;
	position: absolute;
	content: "Telefon numarasını '5555555555' formatında girin.";
	font-weight: bold;
	color: #ee4447;
}
.phone:focus + span::before {
	font-size: 0.7rem;
	position: absolute;
	content: "Format: 5555555555";
	font-weight: bold;
	color: #000000;
}
.password:not(:focus):user-invalid + span::before {
	font-size: 0.7rem;
	position: absolute;
	content: "Şifre en az 8 karakter olmalı, bir büyük harf, bir küçük harf ve bir rakam içermelidir.";
	font-weight: bold;
	color: #ee4447;
}
.password:focus + span::before {
	font-size: 0.7rem;
	position: absolute;
	content: "En az 8 karakter, 1 büyük harf, 1 küçük harf, 1 rakam";
	font-weight: bold;
	color: #000000;
}
.form-field:not(:focus):placeholder-shown:user-invalid + span::before {
	font-size: 0.7rem;
	position: absolute;
	content: "Lütfen alanı boş bırakmayınız.";
	font-weight: bold;
	color: #ee4447;
}
.form-field:not(:focus):user-invalid + span::after {
	content: url(../images/cancel1.svg);
	position: absolute;
	top: -29px;
	right: 3px;
}
.form-field:placeholder-shown {
	border: 2px solid rgb(180, 179, 179);
}
.form-field:not(:focus):user-invalid {
	border: red 2px solid;
}
.form-field:not(:focus):valid {
	border: green 2px solid;
}
.form-field:not(:focus):valid + span::after {
	content: url(../images/check1.svg);
	position: absolute;
	top: -29px;
	right: 3px;
}

.form-field:focus {
	outline: 0;
	border: blue 2px solid;
}
input {
	line-height: 2;
}
button {
	padding: 0.5em 4em;
	color: white;
	background-color: #596d48;
	border: none;
	border-radius: 6px;
	font-size: 1.2rem;
	box-shadow: var(--shadow-elevation-medium);
	font-weight: bold;
}
.have-acc {
	font-size: 1rem;
}
a {
	text-decoration: none;
	color: #596d48;
	font-weight: bold;
}
