@font-face {
	font-family: "PTSans";
	src: local("PT Sans"), url("/fonts/PTSans-R.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: optional;
}

@font-face {
	font-family: "PTSans";
	src: local("PT Sans Bold"), url("/fonts/PTSans-B.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PTSans";
	src: local("PT Sans Italic"), url("/fonts/PTSans-I.woff2") format("woff2");
	font-weight: normal;
	font-style: italic;
	font-display: optional;
}
@font-face {
	font-family: "PTSans-fallback-linux";
	src: local("Liberation Sans");
	size-adjust: 96.6799%;
	ascent-override: 105.2958%;
	descent-override: 28.5477%;
}
@font-face {
	font-family: "PTSans-fallback";
	src: local("Arial");
	size-adjust: 96.6799%;
	ascent-override: 105.2958%;
	descent-override: 28.5477%;
}
img {
	block-size: auto;
	height: auto;
	max-width: 100%;
	width: 100%;
	min-width: 0;
	object-fit: cover;
}
* {
	outline: 1px solid black;
}

body {
	display: flex;
	height: 100vh;
}

aside {
	display: flex;
	flex: 1;
}
main {
	display: flex;
	flex: 2;
	flex-direction: column;
	justify-content: center;
	background-color: #c6c8ca;
}
.header,
.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.header {
	flex-basis: 35%;
	justify-content: flex-end;
}
.header-1 {
	margin-bottom: 2em;
}
.section {
	flex-basis: 65%;
}
.form-section-1,
.form-section-2,
.header-1 {
	padding-left: 2rem;
}
.form-section-1,
.form-section-2 {
	display: flex;
	flex-direction: column;
}
.form-section-1 {
	justify-content: center;
	background-color: white;
	box-shadow: var(--shadow-elevation-medium);
	flex: 6;
}
.form-section-2 {
	flex: 7;
}
form {
	display: flex;
	flex-direction: column;
	flex: 1;
}

button {
	margin-bottom: 2em;
	margin-top: 2em;
}
.header-2 {
}
.pass-field {
}
